.loginForm{
    padding: 15px;
    margin: 50px auto auto auto;
    max-width: 350px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 5px;
  }
  .sm-logo{
    width: 72px;
    height: 72px;
  }
  
  .btn-submit{
    margin-top: 30px;
  }

.form-control{
  margin-bottom: 10px;
}